# AUTHENTICATION
# use this bookmarklet to find the IDs for your user & ROOM
# http://alaingilbert.github.io/Turntable-API/bookmarklet.html

# set the auth of your bot here.
AUTH=xxxxxxxxxxxxxxx

# set the userid of your bot here.
USERID=xxxxxxxxxxxxxxx

# set the roomid of the room you want the bot to go to here.
ROOMID=xxxxxxxxxxxxxxx

# SETTINGS
# what character is used to recognise commands sent to the Bot
COMMANDIDENTIFIER=/

# the filename in the data directory used to store the command aliases
ALIASDATA=aliases.json

# the filename in the data directory used to store the commands, pictures & messages for chat commands
CHATDATA=chat.json

# the filename in the data directory used to store the themes used in the randomizer
THEMEDATA=themes.json

# set your YouTube API Key
# info on getting an api key: https://rapidapi.com/blog/how-to-get-youtube-api-key/
YOUTUBE_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXX

# database access
DBUSERNAME=XXXXXXXXXXX
DBPASSWORD=XXXXXXXXXXX
DBNAME=XXXXXXXXXXX

PLAYLIST_USERNAME=XXXXXXXXXXX
PLAYLIST_PASSWORD=XXXXXXXXXXX