# used to recognise commands sent to the Bot
COMMANDIDENTIFIER=/

# use this bookmarklet to find the IDs for your user & ROOM
# http://alaingilbert.github.io/Turntable-API/bookmarklet.html

# set the auth of your bot here.
AUTH=xxxxxxxxxxxxxxx

# set the userid of your bot here.
USERID=xxxxxxxxxxxxxxx

# set the roomid of the room you want the bot to go to here.
ROOMID=xxxxxxxxxxxxxxx
