node_modules
DaManagement.sublime-project
DaManagement.sublime-workspace
.env
.idea
client_secret.json
/data/chat.json
/data/aliases.json
/data/themes.json
/data/chatDoc.html
/data/users/*
/html/chatDoc.html
