doctype html
html
    head
        title Instructions for how to Earn RoboCoin
    body
        div.container
            h1 Instructions for how to Earn RoboCoin
            h2 A Subheading Here
            p This is the first paragraph of text.
            p This is the second paragraph of text.
            ul
                li Bullet Point 1
                li Bullet Point 2
                li Bullet Point 3
                li Bullet Point 4
                li Bullet Point 5