doctype html
html
    head
        title Instructions for how to Earn RoboCoin
    body
        div.container
            h1 Instructions for how to Earn RoboCoin
            h2 What are we trying to do here?
            p The tags on youTube videos are an absolute garbage fire. This means that as Mr. Roboto is trying to collate stats for the weekly countdown many tracks that are the same appear different.

            p We'd like you to help us fix that by supplying Artist and Track "display" names that will be correct, and that Mr. Roboto can use.

            p For example. If two people play the Marillion track The Uninvited Guest, but on one of the videos the title tag is actually "The Uninvited Guest - From Distant Lights", it won't be classed as the same thing. Worse than that some tracks have the Uploader's name as the artist name, or the track and artist name transposed...like I said, garbage fire!

            h2 How long does it take, and what do I get paid?
            p A lot of the fixes are a single click, so no time at all, and you get "paid" 0.02 RC for everything you fix. I know it doesn't sound a lot but it'll soon mount up. Depending on feedback and use, that figure may be adjusted, up or down ;-)

            h2 Signing up
            p In order for you to be able to work for RoboCoin, you'll need a password entered into the system. This is to prove you are you, and not link your username and accouunt so that Mr. Roboto can pay you correctly!

            p This password is entirely separate from the deepcuts.fm site, and is stored in an encrypted for in Mr. Roboto's database.  It cannot be decrypted or read back by anyone...even jodrell.

            p As a secondary form of authentication, and to stop people stealing accounts from others, you'll also need to add an email address into the system. This will only ever be used to verify you when you create your password. Mr. Roboto will NEVER email you!
            ol
                li PM a Mod your the email address you want to use for verification. They will add it to the system
                li Browse to
                    a(href='http://141.147.86.68:8585/listunverified') http://141.147.86.68:8585/signup
                li Enter the email address you gave
                li Enter your current username
                li Enter and verify the password you want to use
                li Click "Sign Up"

            h2 What is all this?!?
            p Browse to
                a(href='http://141.147.86.68:8585/listunverified') http://141.147.86.68:8585/listunverified
                |  and log in if necessary. You'll see a list of YouTube videos that have either the artist or track name unverified.
            p There are 6 columns containing the info
            ol
                li "youTube Link": This is the unique youTube identifier. If you click on it a new tab will open playing that vid on youTube. Handy if you don't recognise the track
                li "YouTube Artist Name": This is the Artist name tag we got from youTube. If you click on this link the page will refresh with a refined search based only on that Artist
                li "Artist Display Name": This is either the corrected Artist name and a Reset button that will remove that fix, or a text box containing the youTube value that you can edit and click "Update Artist" to send the change to the DB
                li "youTube Track Name": This is the track name tag we got from youTube. If you click on this link the page will refresh with a refined search based only on that Track name
                li "Track Display Name": This is either the corrected Track name and a Reset button that will remove that fix, or a text box containing the youTube value that you can edit and click "Update Track Name" to send the change to the DB
                li "Search Link": This is a link that will open a Google search for the artist and track name...again, useful if the tags are really bad, or you want to verify the spelling etc

            p
                img(src="../images/beforeFixes.png", alt="Data screen showing Journey tracks, most of which have not been fixed")

            p Above the columns there are a number of ways to refine the searches. I've found you can do things faster if you try and fix tracks by a particular band for instance.

            p There are 3 search you can perform. Each search allows you to order the results by either when they  were played (By Recent), by Artist name or by track name. You can do that by clicking one of the radio buttons

            p The first search "Get unverified tracks" is the default one and only returns tracks where either the Artist or Track name hasn't been verified

            p The next two searches allow you to find and filter by either the Artist name or Track name. Both of these are searching on both the youTube tag, and the corrected version

            h2 Work time...what do I actually do?

            p Currently the first line of my list has a corrected tag "'Til Tuesday" for the artist, and a youTube track name of "Winning The War - 3/26/1986 - Ritz". That track name is displayed in both the youTube Track Name column, showing that it's the original tag, and also in the text box in the Track Display Name column

            p I'm not familier with that track so I click the search link and find a number of other tracks also with the partial name "3/26/1986 - Ritz", as well as a track called "Winning the War"

            p I'll edit the contents of the text box down to just Winning the War and click "Update Track Name". When I click that the page will refresh, and in this case that line will disappear because both the Artist and Track names are now verified

            p I wonder what other tracks 'Til Tuuesday have in the DB, and if they need fixing. Enter "tuesday" in text box next to the "Search by Artist" button and click it. You'll now see any tracks by any artist that has a partial match for the word Tuesday and all of their data

            p you can more quickly do this kind of search by clicking either the Artist or Track names in the youTube column names. Click and search around and find whatever needs fixing!

            h2 Examples
            p The following are all youTube tags for an Artist that should correctly be set to Motörhead
            ul
                li Motorhead
                li Motör head
                li Motor head
                li MOTÖRHEAD
                li Motörhead Official

            p The following are all youTube tags for a Track that should correctly be set to Whole Lotta Rosie
            ul
                li Whole Lotta Rosie
                li Whole Lotta Rosie (Official Audio)
                li Whole Lotta Rosie (Official Video)
                li AC/DC Whole Lotta Rosie (Bon Scott) Live 1977
                li Whole Lotta Rosie (live)
            p Things can get trickier with track names, especially where remixes come in. Remember what we're trying to do here is be able to group plays together so that the stats add up and we can tell how popular things are.
            p All of the following should be considered to be the same Track name
            ul
                li Track name (Alon Cohen Remix)
                li Track name Live
                li Track name (Synthwave Remix)
                li Track name (12" Extended Remix) 1988
                li Track name remix by Astrophysics
                li Track name Remix - Robot Dance Vs. Break Dance
                li Track name (Music Video) HD
                li Track name - 7" 1986
                li Track name - Artist Name
                li "Track name"
                li Track name (live video)

            h2 OK, but what about covers?
            p The artist should be set to the artist performing the track, and the track name should be correct, without and extra "cover of" etc etc
            p eg. we have Chris Cornell as an artist, and "Nothing Compares 2 U" (Prince Cover) [Live @ SiriusXM] | Lithium as a track name
            p The artist name should remain as Chris Cornell, and the Track name should be changed to "Nothing Compares 2 U"

            h2 Thanks for the help!
            p Thank you for any fixes you can do. If you have any ideas on how the process could be improved, or any other feedback, please let one of the Mods in the room know, or post on the Facebook group