doctype html
html
    head
        title Instructions for how to Earn RoboCoin
    body
        h1 Instructions for how to Earn RoboCoin
        h2 What are we trying to do here?
        p The tags on youTube videos are an absolute garbage fire. This means that as Mr. Roboto is trying to collate stats for the weekly countdown many tracks that are the same appear different.

        p We'd like you to help us fix that by supplying Artist and Track "display" names that will be correct, and that Mr. Roboto can use.

        p For example. If two people play the Marillion track The Uninvited Guest, but on one of the videos the title tag is actually "The Uninvited Guest - From Distant Lights", it won't be classed as the same thing. Worse than that some tracks have the uploader's name as the artist name, or the track and artist name transposed...like I said, garbage fire!

        h2 How long does it take, and what do I get paid?
        p A lot of the fixes are a single click, so no time at all, and you get "paid" 0.1 RC for everything you fix. I know it doesn't sound a lot but it'll soon mount up. Depending on feedback and use, that figure may be adjusted, up or down ;-)

        h2 Signing up
        p In order for you to be able to work for RoboCoin, you'll need a password entered into the system. This is to prove you are you, and not link your username and account so that Mr. Roboto can pay you correctly!

        p This password is entirely separate from the deepcuts.fm site, and is stored in an encrypted for in Mr. Roboto's database.  It cannot be decrypted or read back by anyone...even jodrell.

        p As a secondary form of authentication, and to stop people stealing accounts from others, you'll also need to add an email address into the system. This will only ever be used to verify you when you create your password. Mr. Roboto will NEVER email you!
        ol
            li
                | PM a Mod the email address you want to use for verification. They will add it to the system. You 
                strong CANNOT 
                | signup until this step is complete            
            li Browse to 
                a(href='http://141.147.86.68:8585/listunverified') http://141.147.86.68:8585/signup
            li Enter the email address you gave
            li Enter your full current DJ name, NOT your ttfm username
            li Enter and verify the password you want to use
            li Click "Sign Up"
            li You can now browse to 
                a(href='http://141.147.86.68:8585/listunverified') http://141.147.86.68:8585/listunverified
                |  and log in. You'll see a list of YouTube videos that have either the artist or track name unverified.

        h2 Here's an example screen showing the data before most of it is fixed after I've searched for the Artist Journey...more on that below
            img(src="/images/beforeFixes.png", alt="Data screen showing Journey tracks, most of which have not been fixed")

        h2 What is all this?!?
        p There are 6 columns containing the info
        ol
            li "youTube Link": This is the unique youTube identifier. If you click on it a new tab will open playing that vid on youTube. Handy if you don't recognise the track
            li "YouTube Artist Name": This is the Artist name tag we got from youTube. If you click on this link the page will refresh with a refined search based only on that Artist
            li "Artist Display Name": This is either the corrected Artist name and a Reset button that will remove that fix, or a text box containing the youTube value that you can edit and click "Update Artist" to send the change to the DB
            li "youTube Track Name": This is the track name tag we got from youTube. If you click on this link the page will refresh with a refined search based only on that Track name
            li "Track Display Name": This is either the corrected Track name and a Reset button that will remove that fix, or a text box containing the youTube value that you can edit and click "Update Track Name" to send the change to the DB
            li "Search Link": This is a link that will open a Google search for the artist and track name...again, useful if the tags are really bad, or you want to verify the spelling etc

        p Above the columns there are a number of ways to refine the searches. I've found you can do things faster if you try and fix tracks by a particular band for instance.

        p There are 3 search you can perform. Each search allows you to order the results by either when they  were played (By Recent), by Artist name or by track name. You can do that by clicking one of the radio buttons

        p The first search "Get unverified tracks" is the default one and only returns tracks where either the Artist or Track name hasn't been verified

        p The next two searches allow you to find and filter by either the Artist name or Track name. Both of these are searching on both the youTube tag, and the corrected version

        h2 Work time...what do I actually do?

        p Currently the first line of my list has Journey listed as the youTube tag, but it's not been set as the Display Name yet. Click the Update Artist button to set that as it's correct. Do the same on the next line down

        p All of the other Artists are correct, apart from the last line which has the title and artist name in it. Edit the text box to just say "Journey" and click "Update Artist"

        p Now onto the track names. The first line has "Any Way You Want It (Official Video - 1980)" clearly is too much info. Edit the text box, change it to "Any Way You Want It" and click "Update Track Name"

        p you can more quickly do this kind of search by clicking either the Artist or Track names in the youTube column names. Click and search around and find whatever needs fixing!

        h2 Here's the same example screen as above, but this time all the data has been fixed
            img(src="/images/afterFixes.png", alt="Data screen showing Journey tracks, all of which have now been fixed")

        h2 Examples
        p The following are all youTube tags for an Artist that should correctly be set to Motörhead
        ul
            li Motorhead
            li Mötörhead
            li Motör head
            li MOTÖRHEAD
            li Motörhead Official

        p The following are all youTube tags for an Artist that should correctly be set to Huey Lewis & The News. If you're not sure what something should be set to, search and see what's been used for other tracks. In this case an artist search for huey found these alternatives
        ul
            li Huey Lewis And The News
            li Huey Lewis
            li Huey Lewis/The News

        p Be careful with punctuation might be included in a track or Artist name. Remember to search to see what's been used elsewhere...consistency is key. The following tracks are not the same, but should be
        ul
            li Born in the U.S.A.
            li Born in the USA
            li Born in the U.S.A

    p The following are all youTube tags for a Track that should correctly be set to Whole Lotta Rosie
        ul
            li Whole Lotta Rosie
            li Whole Lotta Rosie (Official Audio)
            li Whole Lotta Rosie (Official Video)
            li AC/DC Whole Lotta Rosie (Bon Scott) Live 1977
            li Whole Lotta Rosie (live)
        p Things can get trickier with track names, especially where remixes come in. Remember what we're trying to do here is be able to group plays together so that the stats add up for the countdown.
        p All of the following should be considered to be the same Track and renamed to Mr. Roboto
        ul
            li Mr. Roboto (old school video)
            li Mr. Roboto (Synthwave Remix)
            li Mr. Roboto (12" Mix) 1988
            li Mr. Roboto Remix - Robot Dance Vs. Break Dance
            li "Mr. Roboto"
            li Mr Roboto
            li MrRoboto
        p Capitalisation isn't important...but spaces are! For the matching upper and lower cases are recognised as the same, but double spaces will cause a missmatch
            li
            | Hot in the city 
            strong
            | IS the same as Hot In The City
            li
            | Hot  in  the  city 
            strong IS NOT 
            | the same as Hot In The City

        h2 FAQ
        div
            p <strong>Q:</strong> What happens if I apply an incorrect fix?<br><strong>A:</strong> If you can remember the track or artist name, search for it, press the Reset button and fix it again.
        div
            p <strong>Q:</strong> How do I know what's "right"?<br><strong>A:</strong> There's no one definitive source, but Wikipedia is probably a pretty good start. If you're unsure, please ask. In this case consistency is more important that being absolutely correct, so also search to see how other similar tracks have been fixed.
        div
            p <strong>Q:</strong> I forgot my password, what do I do?<br><strong>A:</strong> It's all a bit manual right now. Contact a Mod and they'll get your password reset. You'll then have to signup again using the email address you provided to create a new password.
        div
            p <strong>Q:</strong> I forgot the email address I used?!?<br><strong>A:</strong> Send your email address to a Mod who can reset it for you.
        div
            p <strong>Q:</strong> So what about covers?<br><strong>A:</strong> The artist should be set to the artist performing the track, and the track name should be correct, without and extra "cover of" etc etc. eg. we have Chris Cornell as an artist, and "Nothing Compares 2 U" (Prince Cover) [Live @ SiriusXM] | Lithium as a track name. The artist name should remain as Chris Cornell, and the Track name should be changed to "Nothing Compares 2 U"
        div
            p <strong>Q:</strong> Does capitalisation matter?<br><strong>A:</strong> Not for the chart stats no, but for Artists with accents, like Motörhead, it is important to be consistent in where and how the accent's are used
        div
            p <strong>Q:</strong> LOL, let's make Robo read everything out as being by Michael Bolton!<br><strong>A:</strong> As with all RoboCoin operations, this processes is audited. Deliberate vandalism of the data will result in access to the tool being revoked and a room ban for the user

        h2 Thanks for the help!
        p Thank you for any fixes you can do. If you have any ideas on how the process could be improved, or any other feedback, please let one of the Mods in the room know, or post on the Facebook group