doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login Page
        link(rel="stylesheet", href="styles/login.css") // Link to your CSS file

    body
        .container
            h2 Login Page
            form(action="/login", method="POST")
                .form-group
                    label(for="username") Username:
                    input(type="text", id="username", name="username", required)
                .form-group
                    label(for="password") Password:
                    input(type="password", id="password", name="password", required)
                .form-group
                    button(type="submit") Login